@model AspNetCoreMvcTemplate.Areas.Accounting.ViewModels.TrialBalanceFilterViewModel

@{
    ViewData["Title"] = "Trial Balance";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Trial Balance Filter</h3>
    </div>
    <div class="card-body">
        <form asp-action="TrialBalance" method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="AsOfDate">As of Date</label>
                        <input asp-for="AsOfDate" class="form-control" type="date" />
                        <span asp-validation-for="AsOfDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CostCenterId">Cost Center</label>
                        <select asp-for="CostCenterId" class="form-control select2">
                            <option value="">-- All Cost Centers --</option>
                            @foreach (var costCenter in Model.CostCenters)
                            {
                                <option value="@costCenter.Id">@costCenter.Code - @costCenter.NameEn</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Level">Account Level</label>
                        <select asp-for="Level" asp-items="Model.Levels" class="form-control">
                            <option value="0">-- All Levels --</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Generate Report</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('.select2').select2();
        });
    </script>
}
